{% extends "layout.html" %}
{% block title %}S3 Object List{% endblock %}     <!-- Title -->



<!-- Bucket List -->
{% block content %}

<div class="container">

  <p></p>

  <h3>Index</h3>



	<h3>Welcome, {{ username }}</h3>
	<hr><br>

	<div class="box">
		<p> Testing </p>
	</div>

  <hr>
	<!-- # = same page -->
	<form action="dashboard" method="post">
		<p>Name</p>
		<p><input type="text" name="name" /></p>
		<p><input type="submit" value="submit" /></p>
	</form>
	<hr>


</div>


{% endblock %}
