{% block content %}

<style>
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}</style>

<div class="container" style="margin-top:50px">
    <a href="{{ url_for('index') }}">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5hfiJ2XtRk8XwlQ5qT9nhQUmWLrSS1xTQ4PGMcHHGa-Za0_P0&usqp=CAU" style="max-width:150px; margin-top: -20px;" class="center"/>
    </a>
    <h4 style="text-align:center">Wheel-Time Streaming!</h4>
    <p style="text-align:center; color:rgb(17, 29, 29)">Enter account information</p>
    <hr style="color:coral;">
    <div style="background-color:floralwhite">
      <form action="" method="post">
        <p style="text-align:center; color:rgb(17, 29, 29)">First Name: <input type="text" name="fname"/></p>
        <p style="text-align:center; color:rgb(17, 29, 29)">Last Name: <input type="text" name="lname"/></p>
        <p style="text-align:center; color:rgb(17, 29, 29)">Username: <input type="text" name="username"/></p>
        <p style="text-align:center; color:rgb(17, 29, 29); padding-left:35px;">Email: <input type="text" name="email"/></p>
        <p style="text-align:center; color:rgb(17, 29, 29)">Password: <input type="text" name="password"/></p>
        <p style="text-align:center; color:rgb(17, 29, 29)">Company: <input type="text" name="company"/></p>
        <p style="text-align:center"><input type="submit" value="Create Account" style="background-color:darkslategray; color:floralwhite; width:150px; height:30px"/></p>
      </form>   
    <hr style="color:coral">
  </div>
  <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class="bg-info" style="text-align:center; color:maroon">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
</div>
</div>
{% endblock %}